name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Force Failure
        run: go test ./... -cover
#        run: exit(1)

  style:
    name: Style
    runs-on: ubuntu-latest
      
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      
      - name: Set up go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - name: Check out code formatting
        run: test -z $(go fmt ./...)
